@import "tailwindcss";


/* 🗺️ MUI se upar Tailwind ko laane ke liye (High Priority layer) */
@layer base {
  :root {
    /* Isse Tailwind ki utility classes ko highest priority mil jayegi */
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100%;
}

.test {
  margin: 40px;
}