/* Duniya ka koi bhi browser ho, ye sabka faltu margin/padding zero kar dega */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  overflow: hidden; /* Taaki poore app me kabhi falthu scrollbar na aaye */
}